<h2 class="text-center"><%= @post.title %></h2>

<% if current_user %>
  <div class="text-right" id="refferences">
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
    <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div id="post-content" class="col-sm-8 col-sm-offset-2">
      <%= @post.content %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="comment-wrapper" class="col-sm-8 col-sm-offset-2">
      <form action="">
        <h4>Comments</h4>
        <textarea name="name" rows="6" cols="30" class="form-control"></textarea>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  var postContent = $('#post-content');
  postContent.html(postContent.text());
})
</script>
